affine
aiobotocore
aiodns
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
annotated-types
ansicolors
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
babel
beautifulsoup4
bleach
botocore
branca
Brotli
cattrs
certifi
cffi
charset-normalizer
click
click-plugins
cligj
cloudpickle
comm
commonmark
contourpy
css-inline
cycler
dask
decorator
defusedxml
docstring-to-markdown
entrypoints
executing
faicons
fastjsonschema
fiona
folium
fonttools
fqdn
frozenlist
fsspec
GDAL
geodatasets
geopandas
googlemaps
great-tables
h11
html5lib
htmltools
httpcore
httpx
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
jedi-language-server
jellyfish
Jinja2
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
locket
lsprotocol
lz4
mapclassify
MarkupSafe
matplotlib
matplotlib-inline
mistune
multidict
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook
notebook_shim
numpy
osmnx
overrides
packaging
pandas
pandocfilters
papermill
parso
partd
pexpect
pillow
platformdirs
plotly
pooch
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pycares
pycparser
pydantic
pydantic_core
pygls
Pygments
pyogrio
pyparsing
pyproj
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
rasterio
referencing
requests
rfc3339_validator
rfc3986_validator
rpds-py
rtree
s3fs
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shapely
six
sniffio
snuggs
soupsieve
stack_data
tenacity
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
tqdm
traitlets
typeguard
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
us
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
wordcloud
wrapt
xarray
xyzservices
yarl
zipp
